### Purpose of this notebook is to run the code for the homework of module 5

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
# Add the vevn to spark's settings, so inject the venvâ€™s Python into both driver & worker configs before recreating the session, to find the right python interpreter
import os
venv_python = r"C:\Sandeep SSD\Programming SSD\Data Engineering Zoomcamp\data-engineering-zoomcamp\dataenginzoomvenv\Scripts\python.exe"

# 1) Ensure the worker uses exactly this Python executable:
os.environ['PYSPARK_PYTHON'] = venv_python
os.environ['PYSPARK_DRIVER_PYTHON'] = venv_python

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .config("spark.pyspark.python", venv_python) \
    .config("spark.pyspark.driver.python", venv_python) \
    .getOrCreate()

In [5]:
# Check which port the Spark UI is running on
print(spark.sparkContext.uiWebUrl)

http://192.168.0.181:4040

In [ ]:
# Print spark to get all the spark info
spark

Question 1: Install Spark and PySpark <br>
#Mine is 3.4.2

### For Question 2: Yellow October 2024

In [7]:
from pyspark.sql import types

In [ ]:
# Define a schema for yellow data
# Had to fix passengercount, ratecodeid and paymenttype to longtypes... Because they were written as int64 in the parquet, but integertype only accepts int32, and spark won't silently cast it... 
yellow_schema = types.StructType([
    types.StructField("VendorID", types.IntegerType(), True),
    types.StructField("tpep_pickup_datetime", types.TimestampType(), True),
    types.StructField("tpep_dropoff_datetime", types.TimestampType(), True),
    types.StructField("passenger_count", types.LongType(), True),
    types.StructField("trip_distance", types.DoubleType(), True),
    types.StructField("RatecodeID", types.LongType(), True),
    types.StructField("store_and_fwd_flag", types.StringType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("payment_type", types.LongType(), True),
    types.StructField("fare_amount", types.DoubleType(), True),
    types.StructField("extra", types.DoubleType(), True),
    types.StructField("mta_tax", types.DoubleType(), True),
    types.StructField("tip_amount", types.DoubleType(), True),
    types.StructField("tolls_amount", types.DoubleType(), True),
    types.StructField("improvement_surcharge", types.DoubleType(), True),
    types.StructField("total_amount", types.DoubleType(), True),
    types.StructField("congestion_surcharge", types.DoubleType(), True)
])

In [21]:
# Read the yellow 2024 data
input = '../../Data/data/nyc-tlc/yellow_tripdata_2024-10.parquet'
output_path = '../../Data/data/nyc-tlc/yellow_tripdata_2024-10_Homework_module_5.parquet'

df_yellow = spark.read \
        .schema(yellow_schema) \
        .parquet(input)


df_yellow

DataFrame[VendorID: int, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: bigint, trip_distance: double, RatecodeID: bigint, store_and_fwd_flag: string, PULocationID: int, DOLocationID: int, payment_type: bigint, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double]

In [22]:

# And write it back out, but with 
df_yellow \
    .repartition(4) \
    .write \
    .mode("overwrite") \
    .parquet(output_path)

And the answer is around 24mb each, checked in file explorer, easiest way...

### Question 3: Count records
How many taxi trips were there on the 15th of October?
Consider only trips that started on the 15th of October.

In [25]:
from pyspark.sql import functions as F

In [31]:

df_yellow \
    .withColumn('tpep_pickup_datetime', F.to_date(df_yellow.tpep_pickup_datetime)) \
    .filter("tpep_pickup_datetime = '2024-10-15'") \
    .count()

125567

Answer is 125567 taxi trips

### Question 4: Longest trip
What is the length of the longest trip in the dataset in hours?

In [33]:
# Create a dataframe that gets the duration in hours by casting the timestamps to longs, which will give us a number in seconds, substracting the dropoff from pickup, and dividing by 3600 to get hours
df_with_duration = df_yellow.withColumn(
    "duration_hours",
        (
            F.col("tpep_dropoff_datetime").cast("long")
            - F.col("tpep_pickup_datetime").cast("long")
        )
        / 3600.0
)

df_with_duration.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|      duration_hours|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+--------------------+
|       2| 2024-10-01 02:30:44|  2024-10-01 02:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|               0.295|
|       1| 2024-10-01 02:12:20|  2024-10-01 02:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5| 0.21805555555555556|
|       1| 2024-10-01 02:04:46|  2024-10-01 02:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5| 0.15166666666666667|
|       1| 2024-10-01 02:12:10|  2024-10-01 02:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5| 0.18083333333333335|
|       1| 2024-10-01 02:30:22|  2024-10-01 02:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|0.004722222222222222|
|       2| 2024-10-01 02:31:20|  2024-10-01 02:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5| 0.07777777777777778|
|       1| 2024-10-01 02:42:57|  2024-10-01 02:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5| 0.10111111111111111|
|       1| 2024-10-01 02:59:55|  2024-10-01 03:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5| 0.04138888888888889|
|       1| 2024-10-01 02:00:47|  2024-10-01 02:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|0.059722222222222225|
|       1| 2024-10-01 02:17:36|  2024-10-01 02:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|  0.1461111111111111|
|       1| 2024-10-01 02:49:00|  2024-10-01 02:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5| 0.05555555555555555|
|       2| 2024-10-01 02:07:26|  2024-10-01 02:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5| 0.09833333333333333|
|       2| 2024-10-01 02:17:11|  2024-10-01 02:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5| 0.13027777777777777|
|       2| 2024-10-01 02:00:34|  2024-10-01 02:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|              0.0775|
|       2| 2024-10-01 01:58:40|  2024-10-01 02:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5| 0.36277777777777775|
|       1| 2024-10-01 02:55:29|  2024-10-01 03:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|               0.785|
|       1| 2024-10-01 02:08:59|  2024-10-01 02:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|  0.5330555555555555|
|       2| 2024-10-01 02:18:38|  2024-10-01 02:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|              0.3025|
|       2| 2024-10-01 02:18:38|  2024-10-01 02:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|              0.3025|
|       2| 2024-10-01 02:39:33|  2024-10-01 02:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0| 0.24055555555555555|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+--------------------+
only showing top 20 rows

In [34]:
# Then to get the maximum we just aggregate
df_with_duration \
    .agg(F.max("duration_hours").alias("max_duration_hours")) \
    .show()

+------------------+
|max_duration_hours|
+------------------+
|162.61777777777777|
+------------------+

In [36]:
# Since we now have duration hours as an extra column, we can also just order by duration hours in desc, and then limit by 1 to get it
df_with_duration \
    .select("duration_hours") \
    .orderBy(F.desc("duration_hours")) \
    .limit(1) \
    .show()

+------------------+
|    duration_hours|
+------------------+
|162.61777777777777|
+------------------+

So the answer is 162 hours, a very long trip...

### Question 5: User Interface
Sparkâ€™s User Interface which shows the application's dashboard runs on which local port?

In [38]:
# Can check the webui url via this command
print(spark.sparkContext.uiWebUrl)

http://192.168.0.181:4040

So answer is port 4040

### Question 6: Least frequent pickup location zone
Load the zone lookup data into a temp view in Spark:

wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Using the zone lookup data and the Yellow October 2024 data, what is the name of the LEAST frequent pickup location Zone?

In [39]:
# Read from the zones csv
df_zones = spark.read.parquet('../../Data/data/csv/zones/spark_parquet/')

In [40]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [44]:
# Joins the join dataframe to the zones df, on the condition zone == locationid
df_joined = df_yellow.join(df_zones, df_yellow.PULocationID == df_zones.LocationID)

In [45]:
df_joined.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+----------+---------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|LocationID|  Borough|                Zone|service_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+----------+---------+--------------------+------------+
|       2| 2024-10-01 02:30:44|  2024-10-01 02:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|       162|Manhattan|        Midtown East| Yellow Zone|
|       1| 2024-10-01 02:12:20|  2024-10-01 02:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        48|Manhattan|        Clinton East| Yellow Zone|
|       1| 2024-10-01 02:04:46|  2024-10-01 02:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|       142|Manhattan| Lincoln Square East| Yellow Zone|
|       1| 2024-10-01 02:12:10|  2024-10-01 02:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|       233|Manhattan| UN/Turtle Bay South| Yellow Zone|
|       1| 2024-10-01 02:30:22|  2024-10-01 02:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|       262|Manhattan|      Yorkville East| Yellow Zone|
|       2| 2024-10-01 02:31:20|  2024-10-01 02:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|       137|Manhattan|            Kips Bay| Yellow Zone|
|       1| 2024-10-01 02:42:57|  2024-10-01 02:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|       142|Manhattan| Lincoln Square East| Yellow Zone|
|       1| 2024-10-01 02:59:55|  2024-10-01 03:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|       230|Manhattan|Times Sq/Theatre ...| Yellow Zone|
|       1| 2024-10-01 02:00:47|  2024-10-01 02:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|       142|Manhattan| Lincoln Square East| Yellow Zone|
|       1| 2024-10-01 02:17:36|  2024-10-01 02:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|       162|Manhattan|        Midtown East| Yellow Zone|
|       1| 2024-10-01 02:49:00|  2024-10-01 02:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|       229|Manhattan|Sutton Place/Turt...| Yellow Zone|
|       2| 2024-10-01 02:07:26|  2024-10-01 02:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|       162|Manhattan|        Midtown East| Yellow Zone|
|       2| 2024-10-01 02:17:11|  2024-10-01 02:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|       162|Manhattan|        Midtown East| Yellow Zone|
|       2| 2024-10-01 02:00:34|  2024-10-01 02:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|       211|Manhattan|                SoHo| Yellow Zone|
|       2| 2024-10-01 01:58:40|  2024-10-01 02:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|       142|Manhattan| Lincoln Square East| Yellow Zone|
|       1| 2024-10-01 02:55:29|  2024-10-01 03:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|       161|Manhattan|      Midtown Center| Yellow Zone|
|       1| 2024-10-01 02:08:59|  2024-10-01 02:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|       132|   Queens|         JFK Airport|    Airports|
|       2| 2024-10-01 02:18:38|  2024-10-01 02:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|       239|Manhattan|Upper West Side S...| Yellow Zone|
|       2| 2024-10-01 02:18:38|  2024-10-01 02:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|       239|Manhattan|Upper West Side S...| Yellow Zone|
|       2| 2024-10-01 02:39:33|  2024-10-01 02:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|       247|    Bronx|      West Concourse|   Boro Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [ ]:
# We group by zone, count it, and order by count to get the least used zone, then limit by 1 to see just that one
df_joined \
    .groupBy('Zone') \
    .count() \
    .orderBy('count', ascending=True) \
    .limit(1) \
    .show()

+--------------------+-----+
|                Zone|count|
+--------------------+-----+
|Governor's Island...|    1|
+--------------------+-----+

So the answer is Governo's Island, with count 1